@model nucSummary.Models.ViewModels.CourseReviewViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Course.Title)</h1>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Host)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Host)
        </dd>
        <dt class="col-sm-2">
           Overall Average
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OverallAverage)
        </dd>
    </dl>
    <h2>Reviews</h2>
    <div></div>
    @foreach (var item in Model.Course.Reviews)
    {
        <h3><ins>
        @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </ins></h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Difficulty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Difficulty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Content)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Design)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Design)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Assessments)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Assessments)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Exercises)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Exercises)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Relevancy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Relevancy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Overview)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Overview)
            </dd>
            </dl>
            }
    </div>
<div>
    <button type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Course.Id">Edit</button>|
    <button type="button" class="btn btn-primary" asp-action="CreateReviews" asp-route-id="@Model.Course.Id">Create a Review</button>|
    <button type="button" class="btn btn-secondary"  asp-action="Index">Back to List</button>
</div>
