@model IEnumerable<nucSummary.Models.ViewModels.CourseReviewViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form class="filter">
    <input type="text" name="searchQuery" placeholder="Enter search value" />

    <select class="form-control" id="filterQuery" name="filterQuery">
        <option value="0" name="filterQuery">Please select what you want to order by!</option>
        <option value="1" name="filterQuery">Overall Rating</option>
        <option value="2" name="filterQuery">Difficulty Rating</option>
        <option value="3" name="filterQuery">Relevancy Rating</option>
    </select>
    <button type="submit" class="filter-button">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Host)
            </th>
            <th>
                Overall Rating
            </th>
            <th>
                Difficulty Rating
            </th>
            <th>
                Relevancy Rating
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Host)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelevancyAverage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Course.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Course.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Course.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
